@charset "UTF-8";
/*
Seed.css cortesía de:
███    ██  ██████  ██████  ███████ ███████ ██    ██ ███████ ████████ ███████ ███    ███ ███████    ██    ██ ██    ██
████   ██ ██    ██ ██   ██ ██      ██       ██  ██  ██         ██    ██      ████  ████ ██         ██    ██  ██  ██
██ ██  ██ ██    ██ ██   ██ █████   ███████   ████   ███████    ██    █████   ██ ████ ██ ███████    ██    ██   ████
██  ██ ██ ██    ██ ██   ██ ██           ██    ██         ██    ██    ██      ██  ██  ██      ██    ██    ██    ██
██   ████  ██████  ██████  ███████ ███████    ██    ███████    ██    ███████ ██      ██ ███████ ██  ██████     ██
                                        Node Seed > Framework by NODESYSTEMS.UY - Actualizado 07 marzo 2023 para: Origen Studios.
*/

/* Experimental NODESYSTEMS 2023 */
/* Mobile menu */
:root {
  --current-color-emphasis: #ffc666;
}



.floating-effect {
 animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}


.ns-b-c-e-h{
  border-color: #202020;
  transition: 0.3s ease-in-out;

}
.ns-b-c-e-h:hover{
  border-color: #ffc666;
}
.d-n-on-h{
  display: visible;
  transition: 0.3s ease-in-out;
}
.polka {
  background-image: 
    radial-gradient(rgb(36, 36, 36) 10%, transparent 10%);
  background-position: 8px 8px;
  background-size: 16px 16px;
  background-color: rgb(0, 0, 0);
}
.swiper-slide.d-n{
  display: none;
}
.tag {
  width: auto;
  height: auto;
  position: relative;
  margin: auto;
  float: left;
  border-radius: 3px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  line-height: 15px;
  font-size: 15px;
  font-weight: bold;
  font-family: Gilroy;
  background: black;
  border: 1px solid rgba(100,100,100, 0.2);
}
.tag:hover{
  background: var(--current-color-emphasis);
}

.box-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
  gap: 10px;

}
.box {
  display: flex;
  width: 200px; /* Ajusta el ancho según tus necesidades */
  height: 200px; /* Ajusta la altura según tus necesidades */
  margin: auto; /* Ajusta los márgenes según tus necesidades */
 
}



.box-inside{
  width: 200px; /* Ajusta el ancho según tus necesidades */
  height: 200px; /* Ajusta la altura según tus necesidades */
  margin: auto; /* Ajusta los márgenes según tus necesidades */

}
.box-image {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  position: relative;
  object-fit: contain;
  transition: 0.3s;
  transform: scale(0.8);
}
.box-image:hover 
{
  transform: scale(1);
  object-fit: contain;
}
.p-a {
  position: absolute;
}

.d-n-on-h{
  display: visible;
}



/* RADIO PLAYER */
/* RADIO PLAYER FINISHED */





/* IMAGE COMPONENT CSS init*/
/* Modal Desktop */

/* Estilos para el componente de imagen */
.img-component {
  display: inline-block;
  position: relative;
}

.img-component img {
  cursor: pointer;
  max-width: 100%;
  height: auto;
}

.img-component img {
  cursor: pointer;
  max-width: 100%;
  height: auto;
}

/* Estilos para la modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  
 
}

.modal-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  width: 100vw;
  height: 100vh;
  z-index: 3;

  overflow: hidden;
  
}

.modal-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;

}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
*:hover .modal-close-button{
  opacity: 1;

 }
.modal-close-button {
  position: fixed;
  opacity: 0;
  width: 50px;
  height:50px;
  top: 50px;
  right: 50px;
  margin: auto;
  padding: 10px 15px;
  background-color: #202020;
  border-radius: 5px;
  color: #FFFFFF;
  font-family: Gilroy;
  font-weight: bold;
  border: none;
  cursor: pointer;
  z-index: 2;
  transition: 0.5s ease-in-out;
}

 /* Zoom controls*/
 *:hover .ZoomControls{
  opacity: 1;
 }
 .ZoomControls{
  position: fixed;
  opacity: 0;
  height:70px;
  bottom: 50px;
  right: 0px;
  left: 0px;
  margin: auto;
  padding: 5px;
  background-color: #202020;
  border-radius: 5px;
  color: #FFFFFF;
  font-family: Gilroy;
  font-weight: bold;
  border: none;
  cursor: pointer;
  z-index: 2;
  transition: 0.5s ease-in-out;
 }
 .ZoomControls button{
  width:  auto;
  min-width: 50px;
  height:50px;
  top: 50px;
  right: 50px;
  margin: auto;
  padding: 10px 15px;
  background-color: #202020;
  border-radius: 5px;
  color: #FFFFFF;
  font-family: Gilroy;
  font-weight: bold;
  border: none;
  cursor: pointer;
  z-index: 2;
 }


/* IMAGE COMPONENT CSS finish */

@media only screen and (max-width: 768px) {
  
 
  .box {
    width: 160px; /* Ajusta el ancho según tus necesidades */
    height: 160px; /* Ajusta la altura según tus necesidades */
    margin: 15px;
   
   
  }
  .box-inside{
    width: 160px; /* Ajusta el ancho según tus necesidades */
    height: 160px; /* Ajusta la altura según tus necesidades */
    margin: auto; /* Ajusta los márgenes según tus necesidades */
 
  }
 }

 .bg-d-t { 
  background-image: linear-gradient(315deg, hsl(0, 0%, 0%) 0, hsl(344, 0%, 1%) 13%, hsl(344, 0%, 2%) 25%, hsl(344, 0%, 3%) 36%, hsl(344, 0%, 4%) 46%, hsl(344, 0%, 5%) 56%, hsl(344, 0%, 6%) 66%, hsl(344, 0%, 7%) 76%, hsl(344, 0%, 7%) 88%, hsl(0, 0%, 8%) 100%); 
  border: 1px solid rgba(25, 25, 25, 0.2); 
} 
 
.bg-d { 
  background-image: linear-gradient(135deg, hsl(0, 0%, 0%) 0, hsl(344, 0%, 1%) 13%, hsl(344, 0%, 2%) 25%, hsl(344, 0%, 3%) 36%, hsl(344, 0%, 4%) 46%, hsl(344, 0%, 5%) 56%, hsl(344, 0%, 6%) 66%, hsl(344, 0%, 7%) 76%, hsl(344, 0%, 7%) 88%, hsl(0, 0%, 8%) 100%); 
  border: 1px solid #141414; 
} 

.bg-g-green {background: linear-gradient(to right, rgb(21, 153, 89), rgb(13, 139, 150));}
.bg-g-purple{background: linear-gradient(91.1deg, rgb(77, 39, 147) -2.3%, rgb(115, 43, 155) 44.4%, rgb(133, 26, 199) 103.4%);}
.bg-g-blue{background: radial-gradient(circle at 10% 20%, rgb(26, 89, 152) 0%, rgb(6, 63, 120) 90%);}
.bg-g-pink{background: linear-gradient(143.3deg, rgb(200, 40, 149) 33.1%, rgb(237, 107, 154) 74.9%);}


.bg-g-identity {  background: linear-gradient(to right, rgb(10, 164, 133), rgb(7, 77, 68));}
.bg-g-contents{ background: linear-gradient(to right, rgb(42, 67, 113), rgb(6, 30, 61));}
.bg-g-asesoria{ background: linear-gradient(to right, rgb(185, 52, 152), rgb(99, 15, 54));}

div .d-n-on-h-container:hover .d-n-on-h {
  display: none;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}
.d-v-on-h{
  display: none;
  transition: 0.5s ease-in-out ;

}


div.d-v-on-h-container:hover .d-v-on-h:hover{
  display: block ;
  -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s; 

}


.d-v-on-h:hover {
  display: block ;
  
}

/* MobileMenu Btn Center */
.menu-wrapper {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1341;
  top: -18px;
  transition: top 0.4s ease-in-out 0.2s;
}

.menu-open {
  top: -28px;
  transition: top 0.4s ease-in-out;
}

.menu-wrapper label:active img {
  fill: #00ACEE !important; /* Cambia el color aquí */
}

.menu-open img[src*="MobileBtnMenu"] {
  fill: #cccccc !important; /* Cambia el color aquí */
}
/* Mobile Menu Btn Right*/
.MobileMenuBtnRight {
  clip-path: polygon(0 35px, 35px 0,100% 0,100% 100%,0 100%)
}

/* Mobile Menu Btn Left*/
.MobileMenuBtnLeft {
  clip-path: polygon(0 0,calc(100% - 35px) 0,100% 35px,100% 100%,0 100%);
}

.menu-container{
  position: fixed !important;
  z-index: 99342234 !important;
 
 
}
/**/ @keyframes rotate-scale-up-vertical{0%{transform:scale(1) rotateY(0)}50%{transform:scale(1.3) rotateY(180deg)}100%{transform:scale(1) rotateY(360deg)}}

.inactive *{
  filter: grayscale(100%) blur(2px) saturate(0%) opacity(70%) !important;
  -webkit-filter: grayscale(100%) blur(2px) saturate(0%) opacity(70%) !important;
  -moz-filter: grayscale(100%) blur(2px) saturate(0%) opacity(70%) !important;
  fill: #666666 !important;
  color: #666666 !important;
}

@keyframes coinanimationsponsor{
  0% {
    opacity: 0;

    transform: scale(0.3);
 }
 100% {
    opacity: 1;

    transform: scale(1);
 }
}
@-webkit-keyframes coinanimationsponsor {
  0% {
     opacity: 0;

     -webkit-transform: scale(0.3);
  }
  100% {
     opacity: 1;

     -webkit-transform: scale(1);
  }
}
/* Unique for Origen Studios */

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}



.card-h-opt{
  display: none;
  position: absolute;
  float: left;
  margin: auto;
  width: 100%;
  height: auto;
  animation: ease-in-out;
  border-radius: 3px;
  padding: 5px;
 


}
.card:hover .card-h-opt{
  display: block;
  cursor: pointer;

}
.card-mosaic{
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  grid-auto-rows: auto;
}


  .draw {
    stroke: red;
    stroke-width: 2px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 5s linear forwards;
  }

  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }

 

.card{
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: auto;
  width: 100%;
  overflow: hidden;
  transition: all 500ms;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.card.circle{
  border-radius: 50%;
}

/*tablet*/

@media(max-width: 1200px){
  .tab-d-n{
    display: none  !important;
  }
  .tab-d-b{
    display: block !important;
  }
  .tab-w-50{
    width: 50% !important;
  }
  .tab-w-100{
    width: 100% !important;
  }
  
  .tab-w-200px{
    width: 200px !important;
  }

  }

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #ffffff;
  cursor: pointer;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #FFFFFF;
  transform-origin: bottom right;
  transition: transform 0.15s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.notifier{
  z-index: 99999999999;
  width: auto;
  height: auto;
  position: fixed;
  left: 0px;
  right: 0px;
  margin: auto;
  bottom: 30px;

  border-radius: 50px;
 

}

.divider{
width: 72%;
height: 1px;
background: white;
position: absolute;
left: 0px;
right: 0px;
bottom:0px;
margin: auto;
margin-left: 10px;
margin-right: 10px;
}
@keyframes blurredbg {

  0% { filter: blur(5px) brightness(50%);
    transform: scale(1);
  }
  50% { filter: blur(0px) brightness(100%);
    transform: scale(1.5);
  }
  100% { filter: blur(5px) brightness(50%);
    transform: scale(1);
  }
  
}
.blur{
  filter: blur(10px);
}
.h-e:hover .h-e-style {

  text-decoration: none;
  color: #e1a54b;


}


.h-e:active .h-e-style{
    text-decoration: none;
    outline: none;
    color: #ff0096;

}

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.

 */
 body {
  height: 100vh;
}

/* Avoid Chrome to see Safari hack */
@supports (-webkit-touch-callout: none) {
  body {
    /* The hack for Safari */
    height: -webkit-fill-available;
  }
}

html{
  height: 100vh
}
/* Avoid Chrome to see Safari hack */

/**
 * Render the `main` element consistently in IE.
 */

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

/**
 * Add the correct font size in all browsers.
 */

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

/*
 * Add the correct display in all browsers.
 */

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* Global */
*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

/* Body */
/*
body {
  color: #7e7e7e;
  -o-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  font-size: 16px;
}*/

/* Button */
button {
  color: none;
  outline: none;
  border: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "'Permanent Marker', cursive";
}

button:active {
  color: none;
  outline: none;
  border: none;
}

[type=button],
button {
  -webkit-appearance: button;
}

/* Ancle */
a {
  outline: none;
  text-decoration: none;
  color: inherit;
  fill: inherit;
  margin: inherit;
  position: inherit;
  height: inherit;
  width: inherit;
}

a:link {
  outline: none;
  text-decoration: none;
  color: white;
  fill: inherit;
  margin: inherit;
  position: inherit;
  height: inherit;
  width: inherit;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #e1a54b;
}

a:active {
  text-decoration: none;
  outline: none;
  color: #ff0096;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
  font-family: "'Permanent Marker', cursive";
}

h1 {
  font-size: 2em;
  line-height: 1em;
}

h2 {
  font-size: 1.5em;
  line-height: 1em;
}

h3 {
  font-size: 1.3em;
  line-height: 1em;
}

h4 {
  font-size: 1.2em;
  line-height: 1em;
}

h5 {
  font-size: 1em;
  line-height: 1em;
}

h6 {
  font-size: 0.8em;
  line-height: 1em;
}

/* Input */
input:focus {
  outline: none;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



/* Select */

/* Textarea */

/* Scrollbar */
div::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}

div::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

div::-webkit-scrollbar-thumb {
  background: #c9c9c9;
  border: 0;
  border-radius: 100px;
}

div::-webkit-scrollbar-thumb:hover {
  background: #dedede;
}

div::-webkit-scrollbar-thumb:active {
  background: #e1a54b;
}

div::-webkit-scrollbar-track {
  background: #2020202d;
  border: 0;
  border-radius: 70px;
}

div::-webkit-scrollbar-track:hover {
  background: #2828282f;
}

div::-webkit-scrollbar-track:active {
  background: #2020201f;
}

div::-webkit-scrollbar-corner {
  background: transparent;
}

/* Responsive */
@media only screen and (max-height: 500px) {
  body {
    font-size: 10px;
  }
}

/* Components */
/* Components */
/* Atoms */
/* Select */

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

.marquee {
  width: 100%;
  line-height: 1em;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -o-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
}

.marquee p {
  display: inline-block;
  padding-left: 100%;
  -webkit-animation: marquee 15s linear infinite;
          animation: marquee 15s linear infinite;
  -o-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
}

.Btn {
  width: auto;
  height: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: auto;
  background: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-origin: inherit;
  background-image: inherit;
  font-family: var(--current-font-family-1), "Font Awesome 5 Free";
  color: auto;
  border-radius: var(--current-border-radius-1);
  -webkit-border-radius: var(--current-border-radius-1);
  -moz-border-radius: var(--current-border-radius-1);
  -ms-border-radius: var(--current-border-radius-1);
  -o-border-radius: var(--current-border-radius-1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-size: inherit;
}

.Btn.h-100 {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.Btn.w-100 {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.Btn.nano {
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: var(--current-font-nano);
}

.Btn.normal {
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: var(--current-font-normal);
}

/* CONTROLES */

/* CONTROLES MULTIMEDIA */

.Btn:active {
  filter: brightness(1.5);
  -webkit-filter: brightness(1.5);
  -webkit-transform-origin: center;
          transform-origin: center;
  transform: scale(0.98);
  -webkit-transform: scale(0.98);
  -moz-transform: scale(0.98);
  -ms-transform: scale(0.98);
  -o-transform: scale(0.98);
}

/* SIZES */

/* SIZES ADJUSTS */

/*      ----------------------       */

/* FOR NORMAL DEFAULT CHECK */

/* FOR GHOST CHECKS */

/*  ------ */

/*
@keyframes s-ripple {
  0% {
      transform: scale(0);
  }
  20% {
      transform: scale(1);
  }
  100% {
      opacity: 0;
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
}
} */
/*
@keyframes s-ripple-dup {
 0% {
     transform: scale(0);
  }
 30% {
      transform: scale(1);
  }
  60% {
      transform: scale(1.5);
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
      -o-transform: scale(1.5);
}
  100% {
      opacity: 0;
      transform: scale(2);
      -webkit-transform: scale(2);
      -moz-transform: scale(2);
      -ms-transform: scale(2);
      -o-transform: scale(2);
}
}*/

@-webkit-keyframes dropdownanim {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
}

@keyframes dropdownanim {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
}




.image img {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: auto;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  outline: none;
}

.image:empty::before {
  display: visible;
}

/*
.image:empty::before{
    width: 50px !important;
    height: 50px !important;
    background: red !important;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f2bd' !important;
    font-size: calc(4vw - 0.5vh)  !important;
    text-align: center;
    position: relative;
    margin: auto;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}*/

/* VALORES SQUARE */

/* ----------------------- */

input:focus {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

/*
  label[type="email"] .email .InputIconLeft i {
    content: "\f885" !important;

  }
  label[type="email"] .email .InputIconRight i {
  content: "\f885" !important;

  } */

input.info {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

input.default {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

input.black {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

input.white {
  filter: brightness(-0.8);
  -webkit-filter: brightness(-0.8);
}

/*  --------------  */

/* RANGE */

/*----------------------------------------------------*/

@-webkit-keyframes progLoad {
  0% {
    background: #ed293e;
    width: 0%;
  }
  25% {
    background: #ff9500;;
    width: 25%;
  }
  50% {
    background: #ffcc00;
    width: 50%;
  }
  100% {
    background: #02e473;
    width: 100%;
  }
}

@keyframes progLoad {
  0% {
    background: #ed293e;
    width: 0%;
  }
  25% {
    background: #ff9500;;
    width: 25%;
  }
  50% {
    background: #ffcc00;
    width: 50%;
  }
  100% {
    background: #02e473;
    width: 100%;
  }
}

/* Molecules */

/* DATALIST */

/* DATALIST */

/* Layout */



/*

███████ ██      ███████ ██   ██ ██████   ██████  ██   ██
██      ██      ██       ██ ██  ██   ██ ██    ██  ██ ██
█████   ██      █████     ███   ██████  ██    ██   ███
██      ██      ██       ██ ██  ██   ██ ██    ██  ██ ██
██      ███████ ███████ ██   ██ ██████   ██████  ██   ██

*/
.flexbox {
  overflow: hidden;
  
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: flex;
}

/* =================-------| FLEX - DIRECTION |-------================= */

/* =================-------| FLEX - WRAP |-------================= */
.f-w-w {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.f-w-n-w {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

/* =================-------| FLEX - BASIS |-------================= */

/*

     ██ ██    ██ ███████ ████████ ██ ███████ ██    ██
     ██ ██    ██ ██         ██    ██ ██       ██  ██
     ██ ██    ██ ███████    ██    ██ █████     ████
██   ██ ██    ██      ██    ██    ██ ██         ██
 █████   ██████  ███████    ██    ██ ██         ██

*/
/* =================-------| JUSTIFY - CONTENT |-------================= */

.j-c-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* =================-------| JUSTIFY - ITEMS |-------================= */

/*

 █████  ██      ██  ██████  ███    ██
██   ██ ██      ██ ██       ████   ██
███████ ██      ██ ██   ███ ██ ██  ██
██   ██ ██      ██ ██    ██ ██  ██ ██
██   ██ ███████ ██  ██████  ██   ████

*/
/* =================-------| ALIGN GLOBAL |-------================= */
.centered {
  position: relative;
  margin: auto;
  float: left;
  top: 50%;
  left: 50%;
  /*bringyourownprefixes*/
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

/* =================-------| ALIGN RELATIVE |-------================= */
.r-h-c {
  position: relative;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.r-v-c {
  position: relative;
  float: left;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.r-v-b {
  position: relative;
  float: left;
  margin: auto;
  top: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

/* =================-------| ALIGN ABSOLUTE |-------================= */

/* =================-------| ALIGN - ITEMS |-------================= */

.a-i-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* =================-------| ALIGN - SELF |-------================= */

.a-s-b {
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.a-s-c {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/* =================-------| ALIGN - CONTENT |-------================= */

/* =================-------| ALIGN - TEXT |-------================= */
/* TEXT ALIGN START */

/* TEXT ALIGN CENTER */
.t-a-c {
  text-align: center ;
}

/* TEXT ALIGN LAST CENTER */

/* TEXT ALIGN LEFT */
.t-a-l {
  text-align: left;
}

/* TEXT ALIGN RIGHT*/
.t-a-r {
  text-align: right;
}

/* =================-------| VERTICAL ALIGN |-------================= */



/* Helpers */
/* Helpers */
/* flip */

/* OBJECT FIT */

/* EFFECTS - Fx FX fx fX */



.h-e:hover {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);

  
}

.h-e-scale{
  transform: scale(1) ;
  transition: 0.3s ;
}

.h-e-scale:hover{
  transform: scale(1.1) ;
  z-index: 99 ;
}

/*

███    ███  █████  ██   ██     ██      ██ ███    ██ ███████ ███████
████  ████ ██   ██  ██ ██      ██      ██ ████   ██ ██      ██
██ ████ ██ ███████   ███       ██      ██ ██ ██  ██ █████   ███████
██  ██  ██ ██   ██  ██ ██      ██      ██ ██  ██ ██ ██           ██
██      ██ ██   ██ ██   ██     ███████ ██ ██   ████ ███████ ███████

*/
/* =================-------| MAX LINES |-------================= */

/*

███    ███  █████  ██   ██     ██      ███████ ███    ██  ██████  ██   ██ ████████
████  ████ ██   ██  ██ ██      ██      ██      ████   ██ ██       ██   ██    ██
██ ████ ██ ███████   ███       ██      █████   ██ ██  ██ ██   ███ ███████    ██
██  ██  ██ ██   ██  ██ ██      ██      ██      ██  ██ ██ ██    ██ ██   ██    ██
██      ██ ██   ██ ██   ██     ███████ ███████ ██   ████  ██████  ██   ██    ██

*/
/* =================-------| MAX LENGHT |-------================= */

/*

 █████  ███████ ██████  ███████  ██████ ████████     ██████   █████  ████████ ██  ██████
██   ██ ██      ██   ██ ██      ██         ██        ██   ██ ██   ██    ██    ██ ██    ██
███████ ███████ ██████  █████   ██         ██        ██████  ███████    ██    ██ ██    ██
██   ██      ██ ██      ██      ██         ██        ██   ██ ██   ██    ██    ██ ██    ██
██   ██ ███████ ██      ███████  ██████    ██        ██   ██ ██   ██    ██    ██  ██████

*/
/* =================-------| ASPECT RATIO |-------================= */
.b-0px {
  bottom: 0;
}

/* NUEVOS AÑADIDOS 20 JUNIO 2021 */

/* Special ratios */

/* textarea */

/*

████████ ███████ ██   ██ ████████
   ██    ██       ██ ██     ██
   ██    █████     ███      ██
   ██    ██       ██ ██     ██
   ██    ███████ ██   ██    ██

*/
/* =================-------| TEXT - RENDERING |-------================= */

/* =================-------| TEXT - OVERFLOW |-------================= */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}

/*

███████ ████████ ██    ██ ██      ███████ ███████
██         ██     ██  ██  ██      ██      ██
███████    ██      ████   ██      █████   ███████
     ██    ██       ██    ██      ██           ██
███████    ██       ██    ███████ ███████ ███████

*/
i.default {
  background: none;
  color: #7e7e7e;
}

i.white {
  background: none;
  color: #fefefe;
}

i.black {
  background: none;
  color: #121212;
}

i.info {
  background: none;
  color: #0096ff;
}

.default {
  background-color: rgba(18, 18, 18, 0.7);
  background: rgba(18, 18, 18, 0.7);
  color: #ffffff;
}

.white {
  background: #fefefe;
  color: #7e7e7e;
}

.black {
  background: #121212;
  color: #7e7e7e;
}

.info {
  background: #0096ff;
  color: white;
}

/* MORE COLORS */

/* GHOST */
.ghost {
  background: none;
  color: inherit;
}
.h-e-ghost-e:hover {
  background: none;
  color: #e1a54b;
  -webkit-box-shadow: 0 0 0 2px inset #e1a54b;
          box-shadow: 0 0 0 2px inset #e1a54b;

}
.ghost.info {
  color: #0096ff;
  -webkit-box-shadow: 0 0 0 2px inset #0096ff;
          box-shadow: 0 0 0 2px inset #0096ff;
}

.ghost.enfasis {

  -webkit-box-shadow: 0 0 0 2px inset var(--current-color-emphasis);
          box-shadow: 0 0 0 2px inset var(--current-color-emphasis);
}

.ghost.default {
  color: #dedede;
  -webkit-box-shadow: 0 0 0 2px inset #dedede;
          box-shadow: 0 0 0 2px inset #dedede;
}

.ghost.black {
  color: #121212;
  -webkit-box-shadow: 0 0 0 2px inset #121212;
          box-shadow: 0 0 0 2px inset #121212;
}

.ghost.white {
  color: #fefefe;
  -webkit-box-shadow: 0 0 0 2px inset #fefefe;
          box-shadow: 0 0 0 2px inset #fefefe;
}

/* LINES Left */

/* LINES Right */

/* LINES Top */

/* LINES Bottom */

/*

███████ ██    ██ ███████ ███    ██ ████████ ███████
██      ██    ██ ██      ████   ██    ██    ██
█████   ██    ██ █████   ██ ██  ██    ██    ███████
██       ██  ██  ██      ██  ██ ██    ██         ██
███████   ████   ███████ ██   ████    ██    ███████

*/

/*

█████  ███    ██ ██ ███    ███  █████  ████████ ██  ██████  ███    ██ ███████
██   ██ ████   ██ ██ ████  ████ ██   ██    ██    ██ ██    ██ ████   ██ ██
███████ ██ ██  ██ ██ ██ ████ ██ ███████    ██    ██ ██    ██ ██ ██  ██ ███████
██   ██ ██  ██ ██ ██ ██  ██  ██ ██   ██    ██    ██ ██    ██ ██  ██ ██      ██
██   ██ ██   ████ ██ ██      ██ ██   ██    ██    ██  ██████  ██   ████ ███████

*/
/* =================-------| ANIMATIONS |-------================= */

/* =================-------| ANIMATIONS - DELAY |-------================= */

@-webkit-keyframes flip {
  from {
    transform: initial;
    -webkit-transform: initial;
    -moz-transform: initial;
    -ms-transform: initial;
    -o-transform: initial;
  }
  to {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
}

@keyframes flip {
  from {
    transform: initial;
    -webkit-transform: initial;
    -moz-transform: initial;
    -ms-transform: initial;
    -o-transform: initial;
  }
  to {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
}

/*

████████ ██████   █████  ███    ██ ███████ ██ ████████ ██  ██████  ███    ██ ███████
   ██    ██   ██ ██   ██ ████   ██ ██      ██    ██    ██ ██    ██ ████   ██ ██
 ██    ██████  ███████ ██ ██  ██ ███████ ██    ██    ██ ██    ██ ██ ██  ██ ███████
 ██    ██   ██ ██   ██ ██  ██ ██      ██ ██    ██    ██ ██    ██ ██  ██ ██      ██
 ██    ██   ██ ██   ██ ██   ████ ███████ ██    ██    ██  ██████  ██   ████ ███████

*/
/* =================-------| TRANSITIONS - MILISEGUNDOS |-------================= */

.t-02s {
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.t-03s {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

/* =================-------| TRANSITIONS - SEGUNDOS |-------================= */
.t-1s {
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

/*

██   ██  █████  ██████  ██ ████████ ███████
██   ██ ██   ██ ██   ██ ██    ██    ██
███████ ███████ ██████  ██    ██    ███████
██   ██ ██   ██ ██   ██ ██    ██         ██
██   ██ ██   ██ ██████  ██    ██    ███████

*/
/* = Position Relative - Float Left - Margin Auto - MARGIN AUTO */
.h-pr-fl-ma {
  position: relative;
  float: left;
  margin: auto;
}

/* = Position Relative - Float Right - Margin Auto - MARGIN AUTO */
.h-pr-fr-ma {
  position: relative;
  float: right;
  margin: auto;
}

/*

██     ██ ██ ██████  ████████ ██   ██
██     ██ ██ ██   ██    ██    ██   ██
██  █  ██ ██ ██   ██    ██    ███████
██ ███ ██ ██ ██   ██    ██    ██   ██
 ███ ███  ██ ██████     ██    ██   ██

*/
/* Sintax and specials width */
.w-a {
  width: auto;
}
.w-auto {
  width: auto;
}

/* Width px - pt - % - vw - vh */

.w-25px {
  width: 25px;
}

.w-40px {
  width: 40px;
}

.w-50px {
  width: 50px;
}

.w-70px {
  width: 70px;
}

.w-80px {
  width: 80px;
}

.w-100px {
  width: 100px;
}

.w-150px {
  width: 150px;
}

.w-200px {
  width: 200px;
}

.w-250px {
  width: 250px;
}

.w-300px {
  width: 300px;
}

.w-500px {
  width: 500px;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-33 {
  width: 33.33333%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-95 {
  width: 95%;
}

.w-100 {
  width: 100%;
}

/* Min Width px - pt - % - vw - vh */

/* Max Width px - pt - % - vw - vh */

.max-w-250px {
  max-width: 250px;
}

/*

██   ██ ███████ ██  ██████  ██   ██ ████████
██   ██ ██      ██ ██       ██   ██    ██
███████ █████   ██ ██   ███ ███████    ██
██   ██ ██      ██ ██    ██ ██   ██    ██
██   ██ ███████ ██  ██████  ██   ██    ██

*/
/* Sintax and specials height */
.h-a {
  height: auto;
}
.h-auto {
  height: auto;
}

/* Height px - pt - % - vw - vh */

.h-15px {
  height: 15px;
}

.h-25px {
  height: 25px;
}

.h-30px {
  height: 30px;
}

.h-35px {
  height: 35px;
}

.h-40px {
  height: 40px;
}

.h-50px {
  height: 50px;
}

.h-60px {
  height: 60px;
}

.h-65px {
  height: 65px;
}

.h-70px {
  height: 70px;
}

.h-80px {
  height: 80px;
}

.h-100px {
  height: 100px;
}

.h-150px {
  height: 150px;
}

.h-200px {
  height: 200px;
}

.h-300px {
  height: 300px;
}

.h-500px {
  height: 500px;
}

.h-50 {
  height: 50%;
}

.h-80 {
  height: 80%;
}

.h-100 {
  height: 100%;
}

/* Max Height px - pt - % - vw - vh */

/* Min Height px - pt - % - vw - vh */

.min-h-90vh {
  min-height: 90vh;
}

/*

██     ██ ██ ██████  ████████ ██   ██      █████  ███    ██ ██████      ██   ██ ███████ ██  ██████  ██   ██ ████████
██     ██ ██ ██   ██    ██    ██   ██     ██   ██ ████   ██ ██   ██     ██   ██ ██      ██ ██       ██   ██    ██
██  █  ██ ██ ██   ██    ██    ███████     ███████ ██ ██  ██ ██   ██     ███████ █████   ██ ██   ███ ███████    ██
██ ███ ██ ██ ██   ██    ██    ██   ██     ██   ██ ██  ██ ██ ██   ██     ██   ██ ██      ██ ██    ██ ██   ██    ██
 ███ ███  ██ ██████     ██    ██   ██     ██   ██ ██   ████ ██████      ██   ██ ███████ ██  ██████  ██   ██    ██

*/
/* Sintax and specials width and height */

/* Width and Height px */

.w-and-h-25px {
  width: 25px;
  height: 25px;
}

.w-and-h-30px {
  width: 30px;
  height: 30px;
}

.w-and-h-40px {
  width: 40px;
  height: 40px;
}

.w-and-h-50px {
  width: 50px;
  height: 50px;
}

.w-and-h-70px {
  width: 70px;
  height: 70px;
}

.w-and-h-80px {
  width: 80px;
  height: 80px;
}

.w-and-h-150px {
  width: 150px;
  height: 150px;
}

.w-and-h-500px {
  width: 500px;
  height: 500px;
}

/* Width and Height % */

/* Responsive */
@media only screen and (max-width: 768px) {
  .notifier{
    width: 100%;
    bottom: 70px;
    left: 0px;
    right: 0px;
    margin: auto;
  }
  /*
  ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
  ██ ███ █▄ ▄██ ▄▄▀█▄▄ ▄▄██ ██ ██
  ██ █ █ ██ ███ ██ ███ ████ ▄▄ ██
  ██▄▀▄▀▄█▀ ▀██ ▀▀ ███ ████ ██ ██
  ▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
  */
  /* Sintax and specials mobile width */
  /* Width px - pt - % - vw - vh */
  .m-w-100px {
    width: 100px;
  }
  .m-w-200px {
    width: 200px;
  }
  .m-w-250px {
    width: 250px;
  }
  .m-w-30 {
    width: 30%;
  }
  .m-w-50 {
    width: 50%;
  }
  .m-w-70 {
    width: 70%;
  }
  .m-w-90 {
    width: 90%;
  }
  .m-w-95 {
    width: 95%;
  }
  .m-w-100 {
    width: 100% !important;
  }
  /* Min Width px - pt - % - vw - vh */
  /* Max Width px - pt - % - vw - vh */
  /*
  ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
  ██ ██ ██ ▄▄▄█▄ ▄██ ▄▄ ██ ██ █▄▄ ▄▄██
  ██ ▄▄ ██ ▄▄▄██ ███ █▀▀██ ▄▄ ███ ████
  ██ ██ ██ ▀▀▀█▀ ▀██ ▀▀▄██ ██ ███ ████
  ▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
  */
  /* Sintax and specials height */
  /* Height px - pt - % - vw - vh */
  .m-h-100px {
    height: 100px;
  }
  .m-h-250px {
    height: 250px;
  }
  .m-h-300px {
    height: 300px;
  }
  .m-h-40 {
    height: 40%;
  }
  .m-h-60 {
    height: 60%;
  }
  /* Max Height px - pt - % - vw - vh */
  /* Min Height px - pt - % - vw - vh */
}

/*

███    ███  █████  ██████   ██████  ██ ███    ██
████  ████ ██   ██ ██   ██ ██       ██ ████   ██
██ ████ ██ ███████ ██████  ██   ███ ██ ██ ██  ██
██  ██  ██ ██   ██ ██   ██ ██    ██ ██ ██  ██ ██
██      ██ ██   ██ ██   ██  ██████  ██ ██   ████

*/
/* Sintax and specials margin */
.m-a {
  margin: auto;
}

/* Margin , Margin-Top , Margin-Right , Margin-Bottom , Margin-Left px */

.m-5px {
  margin: 5px;
}

.m-20px {
  margin: 20px;
}

.m-t-4px {
  margin-top: 4px;
}

.m-t-5px {
  margin-top: 5px;
}

.m-t-10px {
  margin-top: 10px;
}

.m-t-20px {
  margin-top: 20px;
}

.m-t-40px {
  margin-top: 40px;
}

.m-t-100px {
  margin-top: 100px;
}

.m-r-5px {
  margin-right: 5px;
}

.m-r-10px {
  margin-right: 10px;
}

.m-b-5px {
  margin-bottom: 5px;
}

.m-b-10px {
  margin-bottom: 10px;
}

.m-b-20px {
  margin-bottom: 20px;
}

.m-b-40px {
  margin-bottom: 40px;
}

.m-b-50px {
  margin-bottom: 50px;
}

.m-b-100px {
  margin-bottom: 100px;
}

.m-l-5px {
  margin-left: 5px;
}

.m-l-10px {
  margin-left: 10px;
}



/* --------------------------------------- */



/* POSITIONS LEFT - RIGHT - TOP - BOTTOM */



/* --------------------------------------- */

    


/* --------------- TOP --------------------*/


.t-0px {
  top: 0px;
}

 .t-10px {
  top: 10px;
}


/* --------------- RIGHT --------------------*/


.r-0px {
  right: 0px;
}

 .r-10px {
  right: 10px;
}

/* ---------------- LEFT --------------------*/

.l-0px {
  left: 0px;
}

.l-10px {
   left: 10px;
}



/* --------------- BOTTOM --------------------*/
.b-0px {
  bottom: 0px;
}

 .b-10px {
  bottom: 10px;
}


/*

██████   █████  ██████  ██████  ██ ███    ██  ██████
██   ██ ██   ██ ██   ██ ██   ██ ██ ████   ██ ██
██████  ███████ ██   ██ ██   ██ ██ ██ ██  ██ ██   ███
██      ██   ██ ██   ██ ██   ██ ██ ██  ██ ██ ██    ██
██      ██   ██ ██████  ██████  ██ ██   ████  ██████

*/
/* Sintax and specials padding */

/* Padding , Padding-Top , Padding-Right , Padding-Bottom , Padding-Left px */

.p-2px {
  padding: 2px;
}

.p-5px {
  padding: 5px;
}

.p-10px {
  padding: 10px;
}

.p-15px {
  padding: 15px;
}
.p-20px {
  padding: 20px;
}

.p-30px {
  padding: 30px;
}

.p-50px {
  padding: 50px;
}

.p-t-3px {
  padding-top: 3px;
}

.p-t-5px {
  padding-top: 5px;
}

.p-t-8px {
  padding-top: 8px;
}

.p-t-10px {
  padding-top: 10px;
}

.p-t-20px {
  padding-top: 20px;
}

.p-r-5px {
  padding-right: 5px;
}

.p-r-10px {
  padding-right: 10px;
}

.p-r-20px {
  padding-right: 20px;
}

.p-r-30px {
  padding-right: 30px;
}

.p-b-10px {
  padding-bottom: 10px;
}

.p-b-20px {
  padding-bottom: 20px;
}

.p-l-5px {
  padding-left: 5px;
}

.p-l-10px {
  padding-left: 10px;
}

.p-l-20px {
  padding-left: 20px;
}

.p-l-30px {
  padding-left: 30px;
}

/* NS padding */

/* Responsive */

/* SQUARE */

/* Circle */
.circle {
  border-radius: 50696px;
  -webkit-border-radius: 50696px;
  -moz-border-radius: 50696px;
  -ms-border-radius: 50696px;
  -o-border-radius: 50696px;
  border-color: inherit;
  border-style: inherit;
}

/*

 ██████  ██    ██ ███████ ██████  ███████ ██       ██████  ██     ██
██    ██ ██    ██ ██      ██   ██ ██      ██      ██    ██ ██     ██
██    ██ ██    ██ █████   ██████  █████   ██      ██    ██ ██  █  ██
██    ██  ██  ██  ██      ██   ██ ██      ██      ██    ██ ██ ███ ██
 ██████    ████   ███████ ██   ██ ██      ███████  ██████   ███ ███

*/
/* Sintax and specials overflow */
.of-auto {
  overflow: auto;
}
.of-h {
  overflow: hidden;
}

.of-n {
  overflow: none;
}
.of-v {
  overflow: visible;
}

/* =================-------| OVERFLOW Y |-------================= */

/* Show overflow y scroll on hover */

/*  Show overflow y auto on hover */

/* =================-------| OVERFLOW X |-------================= */

.of-x-auto {
  overflow-x: auto;
}

.of-x-hidden {
  overflow-x: hidden;
}

.of-x-none {
  overflow-x: none;
}

/* Show overflow x scroll on hover */

/*  Show overflow x auto on hover */

/* =================-------| OVERFLOW TEXT |-------================= */

/* Responsive */
@media only screen and (max-width: 768px) {
  /*
  ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
  ██ ▄▄▄ ██ ███ ██ ▄▄▄██ ▄▄▀██ ▄▄▄██ █████ ▄▄▄ ██ ███ ██
  ██ ███ ███ █ ███ ▄▄▄██ ▀▀▄██ ▄▄███ █████ ███ ██ █ █ ██
  ██ ▀▀▀ ███▄▀▄███ ▀▀▀██ ██ ██ █████ ▀▀ ██ ▀▀▀ ██▄▀▄▀▄██
  ▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
  */
  /* Sintax and specials overflow */
  /* =================-------| OVERFLOW Y |-------================= */
  /* Show overflow y scroll on hover */
  /*  Show overflow y auto on hover */
  /* =================-------| OVERFLOW X |-------================= */
  /* Show overflow x scroll on hover */
  /*  Show overflow x auto on hover */
}

/*

██████   ██████  ███████ ██ ████████ ██  ██████  ███    ██
██   ██ ██    ██ ██      ██    ██    ██ ██    ██ ████   ██
██████  ██    ██ ███████ ██    ██    ██ ██    ██ ██ ██  ██
██      ██    ██      ██ ██    ██    ██ ██    ██ ██  ██ ██
██       ██████  ███████ ██    ██    ██  ██████  ██   ████

*/


.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.pf {
  position: fixed;
}

/* Responsive */
@media only screen and (max-width: 768px) {
  /*
  ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
  ██ ▄▄ ██ ▄▄▄ ██ ▄▄▄ █▄ ▄█▄▄ ▄▄█▄ ▄██ ▄▄▄ ██ ▀██ ██
  ██ ▀▀ ██ ███ ██▄▄▄▀▀██ ████ ████ ███ ███ ██ █ █ ██
  ██ █████ ▀▀▀ ██ ▀▀▀ █▀ ▀███ ███▀ ▀██ ▀▀▀ ██ ██▄ ██
  ▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
  */
}

/*

███████      ██ ███    ██ ██████  ███████ ██   ██
   ███       ██ ████   ██ ██   ██ ██       ██ ██
  ███  █████ ██ ██ ██  ██ ██   ██ █████     ███
 ███         ██ ██  ██ ██ ██   ██ ██       ██ ██
███████      ██ ██   ████ ██████  ███████ ██   ██

*/

/*

██████  ██ ███████ ██████  ██       █████  ██    ██
██   ██ ██ ██      ██   ██ ██      ██   ██  ██  ██
██   ██ ██ ███████ ██████  ██      ███████   ████
██   ██ ██      ██ ██      ██      ██   ██    ██
██████  ██ ███████ ██      ███████ ██   ██    ██

*/
/* Sintax and specials display */

.d-n {
  display: none ;
}

/* =================-------| DISPLAY BLOCK |-------================= */
.d-b {
  display: block;
}

/* =================-------| DISPLAY GRID |-------================= */

/* =================-------| DISPLAY FLEX |-------================= */
.d-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-i-f {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  clear: both;
}

/* =================-------| DISPLAY TABLE |-------================= */

/* Responsive */
@media only screen and (max-width: 768px) {
 
  /*
  ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
  ██ ▄▄▀█▄ ▄██ ▄▄▄ ██ ▄▄ ██ ████ ▄▄▀██ ███ ██
  ██ ██ ██ ███▄▄▄▀▀██ ▀▀ ██ ████ ▀▀ ██▄▀▀▀▄██
  ██ ▀▀ █▀ ▀██ ▀▀▀ ██ █████ ▀▀ █ ██ ████ ████
  ▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
  */
  /* Sintax and specials mobile display */
  .m-d-n {
    display: none !important;
  }
  /* =================-------| DISPLAY BLOCK |-------================= */
  .m-d-b {
    display: block !important;
  }
  /* =================-------| DISPLAY GRID |-------================= */
  /* =================-------| DISPLAY FLEX |-------================= */
  .m-d-f {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  /* =================-------| DISPLAY TABLE |-------================= */
}

/*

 ██████  ██████   █████   ██████ ██ ████████ ██    ██
██    ██ ██   ██ ██   ██ ██      ██    ██     ██  ██
██    ██ ██████  ███████ ██      ██    ██      ████
██    ██ ██      ██   ██ ██      ██    ██       ██
 ██████  ██      ██   ██  ██████ ██    ██       ██

*/
/* Sintax and specials opacity */

/* =================-------| OPACITY % |-------================= */

/*

███████  ██████  ███    ██ ████████
██      ██    ██ ████   ██    ██
█████   ██    ██ ██ ██  ██    ██
██      ██    ██ ██  ██ ██    ██
██       ██████  ██   ████    ██

*/
/* Sintax and specials font */

/* =================-------| FONT STYLE |-------================= */

/* =================-------| FONT WEIGHT |-------================= */

.f-w-bo {
  font-weight: bold;
}

/* =================-------| FONT FAMILY |-------================= */
.f-f-Gilroy {
  font-family: 'Gilroy', cursive;
}

/* =================-------| FONT SIZE PX , EM |-------================= */

/* =================-------| NODE FONT SIZE |-------================= */
  .ns-f-s-small {
  font-size: 10px;
  line-height: 10px;
}
  .ns-f-s-normal {
  font-size: 15px;
  line-height: 20px;
}
  .ns-f-s-medium {
  font-size: 25px;
  line-height: 30px;
}
  .ns-f-s-big {
  font-size: 70px;
  line-height: 75px;
}

/* Responsive */
@media only screen and (max-width: 768px) {
  .m-ns-f-s-text {
   
    font-size: 15px;
    line-height: 20px;
  }
  .m-ns-f-s-normal {
  
    font-size: 15px;
    line-height: 20px;
  }
  .m-ns-f-s-medium {
 
    font-size: 25px;
    line-height: 30px;
  }
  .m-ns-f-s-big {
   
    font-size: 50px;
    line-height: 50px;
  }
}

/*

██      ██ ███    ██ ███████     ██   ██
██      ██ ████   ██ ██          ██   ██
██      ██ ██ ██  ██ █████ █████ ███████
██      ██ ██  ██ ██ ██          ██   ██
███████ ██ ██   ████ ███████     ██   ██

*/
/* =================-------| LINE HEIGHT PX , EM |-------================= */

.l-h-10px {
  line-height: 10px;
}

.l-h-15px {
  line-height: 15px;
}

.l-h-30px {
  line-height: 30px;
}

/*

 ██████ ██    ██ ██████  ███████  ██████  ██████
██      ██    ██ ██   ██ ██      ██    ██ ██   ██
██      ██    ██ ██████  ███████ ██    ██ ██████
██      ██    ██ ██   ██      ██ ██    ██ ██   ██
 ██████  ██████  ██   ██ ███████  ██████  ██   ██

*/

.c-p {
  cursor: pointer;
}

/*

 ██████  ██████  ██       ██████  ██████
██      ██    ██ ██      ██    ██ ██   ██
██      ██    ██ ██      ██    ██ ██████
██      ██    ██ ██      ██    ██ ██   ██
 ██████  ██████  ███████  ██████  ██   ██

*/
/* Sintax and specials color */

/* =================-------| PURE COLOR |-------================= */
.c-white {
  color: white;
}

/* =================-------| NS GLOBAL COLOR |-------================= */
.ns-c-white {
  color: #fefefe;
}

.ns-c-green {
  color: #27ae60;
}

.ns-c-gray-6 {
  color: #666666;
}

/* =================-------| NS COLOR |-------================= */

.ns-c-e {
  background: linear-gradient(135deg, #ffc666 10%, #efc275 50%, #cf9e4b 70%, #f8d18e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ns-c-e-animated {

  background-image: -webkit-linear-gradient(315deg, #a8864a 23%, #fcc15b 36%, #fae3bc 45%, #ffecc8 50%, #ffc666 65%, #423620 100%);
  
  background-size: 200% auto;
  color: transparent;
  -webkit-background-clip: text;
  animation: tech-text-animation 5s linear infinite;
}

@keyframes tech-text-animation {
  0% {
    background-position: 0% center;
  }
  50% {
    background-position: 100% center;
  }
  100% {
    background-position: 0% center;
  }
}

/*color: #e1a54b;*/
/*

██████   █████   ██████ ██   ██  ██████  ██████   ██████  ██    ██ ███    ██ ██████
██   ██ ██   ██ ██      ██  ██  ██       ██   ██ ██    ██ ██    ██ ████   ██ ██   ██
██████  ███████ ██      █████   ██   ███ ██████  ██    ██ ██    ██ ██ ██  ██ ██   ██
██   ██ ██   ██ ██      ██  ██  ██    ██ ██   ██ ██    ██ ██    ██ ██  ██ ██ ██   ██
██████  ██   ██  ██████ ██   ██  ██████  ██   ██  ██████   ██████  ██   ████ ██████

*/

.ns-bg-tone-1{
  filter: brightness(140%);
}
/* Gradients */

.bg-g-2{
background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,0) 100%);
}

/* Sintax and specials background */

.bg-none {
  background: none;
}

/* =================-------| BACKGROUND SIZE  |-------================= */

/* =================-------| BACKGROUND POSITION |-------================= */

/* =================-------| BACKGROUND PURE COLOR |-------================= */
.bg-black {
  background-color: black;
}
.bg-white {
  background-color: white;
}

.bg-red {
  background-color: red;
}

.bg-orange {
  background-color: orange;
}

.bg-green {
  background-color: green;
}

/* =================-------| BACKGROUND GLOBAL COLOR  |-------================= */

.ns-bg-green {
  background-color: #02e473;
}

/* =================-------| NS BACKGROUND COLOR  |-------================= */

.ns-bg-e {

  background: linear-gradient(135deg, #ffc666 10%, #9f7b3d 50%, #f8d18e 100%);
  
}

/* =================-------| BACKGROUND BLACK NODE  |-------================= */

.bg-black-node-o-50 {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-black-node-o-70 {
  background-color: rgba(0, 0, 0, 0.7);
}

/* =================-------| BACKGROUND WHITE NODE  |-------================= */

/* =================-------| BACKGROUND SOCIAL |-------================= */

/* =================-------| PURE FILL |-------================= */

/* =================-------| NS GLOBAL FILL |-------================= */

/*

██████   ██████  ██████  ██████  ███████ ██████
██   ██ ██    ██ ██   ██ ██   ██ ██      ██   ██
██████  ██    ██ ██████  ██   ██ █████   ██████
██   ██ ██    ██ ██   ██ ██   ██ ██      ██   ██
██████   ██████  ██   ██ ██████  ███████ ██   ██

*/
/* =================-------| BORDER |-------================= */

/* =================-------| BORDER - HALF |-------================= */

/* =================-------| BORDER STYLE |-------================= */
.br-s-solid {
  border-style: solid;
}

/* =================-------| BORDER COLORS PURE |-------================= */
.br-c-white {
  border-color: white;
}

/* =================-------| BORDER COLORS NODE |-------================= */
/* emphasis */







/*------------------------------ */

/* =================-------| BORDER WIDTH |-------================= */

.br-w-1px {
  border-width: 1px;
}

/* =================-------| BORDER RADIUS |-------================= */

.br-r-5px {
  border-radius: 5px;
}

.br-r-10px {
  border-radius: 10px;
}

.br-r-50px {
  border-radius: 50px;
}

/* =================-------| NODE BORDER RADIUS |-------================= */
.ns-br-r-1 {
  border-radius: 5px;
}

.ns-br-r-2 {
  border-radius: 10px;
}

.ns-br-r-3 {
  border-radius: 15px;
}

/*

██████   ██████  ██   ██
██   ██ ██    ██  ██ ██
██████  ██    ██   ███
██   ██ ██    ██  ██ ██
██████   ██████  ██   ██

*/
/* =================-------| BOX - SIZING |-------================= */
.b-s-b-b {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* =================-------| BOX - SHADOW |-------================= */

/* =================-------| NODE BOX SHADOW |-------================= */
